

<div class="container">
<post-form  (publishedPost)="addToPosts($event)" />
  <div id="postContainer">
    @if (posts.length>0) {

    <p id="headList">POST LIST:</p>


    <nav id="navSearch" class="navbar navbar-light bg-light justify-content-between mt-3">
      <form class="container-fluid">
          <input [(ngModel)]="search"   class="form-control" type="text" name="search" id="search"
            placeholder="Search" aria-label="Search">
      </form>
    </nav>
    @for ( item of posts | postFilter : search ; track item.id) {
      <post-card [item] = item (deletedPost)="deletePost(item.id)" />
    }
  } @else {
    <p id="headList">Be the firs to add a post!</p>
  }
  </div>
</div>

