

#headList {
  color: aliceblue;
  font-size:larger;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
background-color: rgb(1, 23, 23);
}
#navSearch {
  margin-top: 15px;
  margin-bottom: 30px;
}
