

<div class="container">

  @if (!showAllPost && userPost){
    <h2>Post created by {{userPost.name}}</h2>
  }
  <div id="postContainer">
    @if (posts.length>0) {




    <nav id="navSearch" class="navbar navbar-light bg-light justify-content-between mt-3">
      <form class="container-fluid">
          <input [(ngModel)]="search"   class="form-control" type="text" name="search" id="search"
            placeholder="Search" aria-label="Search">
      </form>
    </nav>
    @for ( item of posts | postFilter : search ; track item.id) {
      <post-card [item] = item (deletedPost)="deletePost(item.id)" />
    }
  } @else {
    <p id="headList">No post to show</p>
  }
  </div>
</div>

